



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{ 
    height: 100vh;
    background-color: linear-gradient(rgba(0, 107, 128, 0.512))

}

.container{
    width: 90%;
    max-width: 31.25em;
    background-color: rgb(76, 0, 255);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 1.25em 3.12em rgba(0, 64, 66, 0.027) ;
    padding: 3em;
    text-align: center;
    border-radius: 1 em;


}

button {
    background-color: whitesmoke;
    border: none;
    color: yellowgreen;
    padding: 1 em 2 em;
    border-radius: 0.5em;
    font-size: 2em;
    cursor: pointer;
    margin-top: 1.5em;

}

p {
    color: black;
    font-size: 1.1em;
    min-height: 6.25em;
    line-height: 2em;
    letter-spacing: 0.02em;
    margin-top: 2em;
}

